/* Sticky footer styles
hello Andrey!
-------------------------------------------------- */
.color-primary-0 {
    color: #555CB3
}

/* Main Primary color */
.color-primary-1 {
    color: #DDE0FF
}

.color-primary-2 {
    color: #7A80CD
}

.color-primary-3 {
    color: #3B43A1
}

.color-primary-4 {
    color: #232A88
}

.color-secondary-1-0 {
    color: #764EB0
}

/* Main Secondary color (1) */
.color-secondary-1-1 {
    color: #EADCFF
}

.color-secondary-1-2 {
    color: #9774CB
}

.color-secondary-1-3 {
    color: #5F349E
}

.color-secondary-1-4 {
    color: #471C86
}

.color-secondary-2-0 {
    color: #4684A5
}

/* Main Secondary color (2) */
.color-secondary-2-1 {
    color: #DAF2FF
}

.color-secondary-2-2 {
    color: #6DA5C4
}

.color-secondary-2-3 {
    color: #2D6F93
}

.color-secondary-2-4 {
    color: #16597D
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

/*My styles*/
.right-blocks-wrapper {
    padding-left: 10px;
    padding-top: 10px;
}

.right-block {
    margin-bottom: 10px;
}

.tags-list-item, .users-list-item {
        text-align: center;
}

.users-list-heading {
    font-weight: bold;
}

.question-item, .answer-item {
    position: relative;
    border-radius: 15px;
    background-color: #FAFAFF;
}

.question-item {
    padding: 15px;
    margin: 10px auto;
}

.answer-item {
    padding: 10px;
    margin: 10px 0;
}

.question-item__avatar, .answer-item__avatar {
    width: 100%;
    border-radius: 15px;
}

.question-item__question-author, .answer-item__answer-author {
    margin: 10px auto;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
}

.question-item__question-datetime, .answer-item__answer-datetime {
    position: absolute;
    bottom: 0;
    right: 10px;
    text-align: right;
    font-weight: bold;
}

.answer-item__answer-body {
    margin-bottom: 35px;
}

.question-item__rating-box, .answer-item__rating-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: gray;
}

.question-item__rating-box__voting-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.question-item__rating-vote {
    font-size: 20px;
}

.question-item__rating-vote {
    padding: 2px 0;
    cursor: pointer;
}

.answer-item__rating-vote {
    padding:0 8px;
}

.question-item__rating-number, .answer-item__rating-number {
    font-size: 25px;
    font-weight: bold;
}
.question-item__rating-number{
    margin-top:-4px;
}

.pagination-wrapper {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tag-headline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFF;
    padding: 5px;
    margin-top: 10px;
    border-radius: 15px;
}

.signup-form, .create-question-form {
    background-color: #FAFAFF;
    padding: 15px;
    margin-top: 10px;
    border-radius: 15px;
}

.signup-form__title, .create-question-form__title {
    text-align: center;
    margin-bottom: 25px;
}

.user-profile {
    background-color: #FAFAFF;
    margin-top: 10px;
    padding: 15px;
    border-radius: 15px;
}

.user-profile__avatar {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
}

.user-profile__questions-headline {
    text-align: center;
}

.user-profile__input--large {
    font-weight: bold;
    font-size:25px;
}

.login-dropdown {
    min-width: 320px;
    padding: 15px;
}

.navbar__userpic {
    border-radius: 4px;
}