/* Sticky footer styles
hello Andrey!
-------------------------------------------------- */
@font-face {
  font-family: iconic-sm;
  src: url('../fonts/open-iconic.eot');
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/*My styles*/
.right-blocks-wrapper {
  padding-left: 10px;
  padding-top: 10px;
}

.right-block {
  margin-bottom: 10px;
}

.tags-list-item, .users-list-item{

}

.users-list-heading {
  font-weight: bold;
}

.question-item{
  position: relative;
  border-radius:15px;
  padding:15px;
  margin:10px auto;
}

.answer-item{
  position: relative;
  border-radius:15px;
  padding:10px;
  margin:10px 0 10px 50px;
}

.avatar {
  width:100%;
  border-radius:15px;
}

.question-author {
  margin:10px auto;
  text-align:center;
}

.question-datetime {
  position: absolute;
  bottom:0;
  right:10px;
  text-align: right;
  font-weight: bold;
}
/*
.question-title {
  color: #212529;
}
*/